@model IEnumerable<LocallySourced.Models.ForumViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message.TopicItem.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message.Date)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.Message.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message.Body)
        </th>
    </tr>

    @foreach (var item in Model) 
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message.TopicItem.Category)
            </td>  
            <td>
                @Html.DisplayFor(modelItem => item.Message.Date)
            </td>             
            <td>
                @Html.DisplayFor(modelItem => item.Message.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message.Body)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MessageID }) |
                @Html.ActionLink("Details", "Details", new { id = item.MessageID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MessageID })
            </td>
        </tr>
    }

</table>
